# sql문 정리 (Oracle) 


### 1. select * from 테이블명;  
 - 해당 테이블의 모든 데이터열과 행을 출력  

### 2. select coloumn from 테이블명;  
- 해당 테이블의 coloumn(열)의 데이터만 출력  

### 3. select coloumn1, coloumn2,....,coloumnN from 테이블명;
- 해당 테이블의 열들을 위의 나열 순서대로 출력  
  
### 4. select * from 테이블명  where coloumn 조건식;
- 모든 열을 출력. 다만, where 절에서 지정한 coloumn의 데이터가 해당 조건식을 만족 할때, 출력.
ex)  
tabel1   
>[name] [id] [age]   
         kim/  a/   20  
         lee/  b/  23  
         kim/  c/   24  
         gang/ d/   21  
         go/   e/   19  
           
**select * from table1  
where age > 22;**  
  
출력 결과 :  
>[name] [id] [age]  
lee/ b/ 23    
kim/ c/ 24  

  
### 5. and, or, not 
- 프로그래밍 언어에서 사용하는 &, |, ! 연산자의 역할  

### 6. coloumn Between A and B
- 해당 coloumn에서 A와 B사이의 데이터를 검색 할 때 사용

### 7. or 역할을 대체하는 in()연산자
- coloumn in('a','b','c')  coloumn에서 a 또는 b 또는 c이 되면 참 
ex) select * from table1  
where id in('a','b','c');

출력 결과 : 
>[name] [id] [age]  
kim/  a/   20  
         lee/  b/  23  
         kim/  c/   24